<!-- sections/two-text-container.liquid -->
<section class="two-text-container-section" aria-label="Two text container">
  {% for object in metaobjects.faq.values %}
    
    <div class="two-text-container">
      <div class="text-item text-item--primary">{{ object.question }}</div>
      <div class="text-item text-item--secondary">{{ object.answer_one }}</div>
    </div>
  {% endfor %}
</section>



{% schema %}
{
  "name": "Two text container",
  "settings": [],
  "presets": [
    {
      "name": "FAQ",
      "category": "Custom"
    }
  ]
}
{% endschema %}
